mat-toolbar {
    background-color: #0066b2;
    color: white;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: lightblue;
  }
  
  .spacer {
    flex: 1 1 auto;
  }